* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #055a05;
    --cor-secundaria: #ddd;
    --cor-destaque1: #264653;
    --cor-destaque2: #e9c46a;
    --cor-branca: #fff;
    --cor-preta-85: rgba(51, 51, 51, 0.850);
    --cor-sombra: rgba(0, 0, 0, 0.2);
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
    line-height: 1.6;
}

main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--cor-secundaria);
    box-shadow: var(--cor-sombra);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
    width: 840px;
    margin: 0 auto;
    padding: 1.5rem 0;
}

header .logo img {
    height: 120px;
    width: auto;
    display: block;
}

h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
    text-shadow: var(--cor-primaria);
}

/*NAV*/
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav a {
    grid-template-rows: auto;
    color: var(--cor-destaque1);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 0;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}

nav a:hover,
nav a:active {
    border-bottom: 3px solid var(--cor-destaque2);
    color: var(--cor-destaque2);
}

nav,
p,
section,
article {
    padding: 8px 0;
}

/*SOCIAL MEDIA*/
.socialmedia {
    display: flex;
    gap: 20px;
    align-items: center;
}

.socialmedia img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.socialmedia img:hover {
    transform: scale(1.2);
}

.socialmedia a {
    text-decoration: none;
    display: block;
}

/*REDES SOCIAIS*/
.redes-sociais {
    display: flex;
    gap: 20px;
    align-items: center;
}

.redes-sociais img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.redes-sociais img:hover {
    transform: scale(1.2);
}

.redes-sociais a {
    text-decoration: none;
    display: block;
}

/*HERO*/
.hero {
    position: relative;
    margin: 1rem 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--cor-destaque1);
    color: var(--cor-branca);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: var(--cor-preta-85);
    color: white;
    border-radius: 8px;
    padding: 16px;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--cor-destaque1);
    margin-left: 1rem;
    border-radius: 5px;

}

/*HISTORIA*/
.historia {
    padding: 3rem 0;
}

.historia h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.historia-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    align-items: center;
}

.historia-container img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.historia-container p {
    text-align: justify;
}

/*AVENTURA*/
.aventura {
    padding: 3rem 0;
    text-align: center;
}

.aventura h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.galeria-aventura {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.galeria-aventura figure {
    margin: 0;
}

.galeria-aventura img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.galeria-aventura img:hover {
    transform: scale(1.05);
}

.galeria-aventura figcaption {
    margin-top: 0.5rem;
    font-weight: 600;
    color: var(--cor-destaque1);
    font-size: 0.9rem;

}

/*FOOTER*/
footer {
    width: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--cor-secundaria);
    margin: 15px auto 0;
    font-size: 13px;
    box-sizing: border-box;
}

footer p {
    font-size: 15px;
    margin: 0;
    color: var(--cor-destaque1);
}

.info-contato {
    text-align: center;
    padding: 2rem 0;
}

.info-contato h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contato-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 840px;
    padding: 0 1rem;
    margin: 2rem auto;
}

.mapa iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.form-contato {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 1rem 1.5rem;
    align-items: center;
}

.form-contato label {
    text-align: right;
    font-weight: 700;
}

.form-contato textarea {
    grid-column: 2/3;
    height: 100px;
}

.form-contato input[type="text"],
.form-contato input[type="email"],
.form-contato textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-contato button {
    grid-column: 1/3;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-destaque1);
    color: var(--cor-destaque1);
    /*border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;*/
}

.form-contato button:hover {
    background-color: var(--cor-primaria);
    color: white;

}

.radio-group {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.radio-group input[type="radio"] {
    margin: 0;
}

.radio-group label {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.checkbox {
    grid-column: 1/3;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}

.checkbox label {
    font-weight: 400;
}

.funcionarios {
    text-align: center;
    padding: 3rem 0;
    border: 4px solid var(--cor-secundaria);
    margin: 1rem auto;
    max-width: 840px;
}

.funcionarios h2 {
    color: var(--cor-primaria);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

.perfis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 900px;
    margin: 2rem auto;
    text-align: center;
}

.perfis img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.perfis figcaption {
    margin-top: 0.5rem;
    font-weight: 600;
}

.label-topo {
    align-self: start;
    padding-top: 8px;
}